.register_form{
    background-image: radial-gradient( circle 815px at 23.4% -21.8%,  rgba(9,29,85,0.5) 0.2%, rgba(0,0,0,0.5) 100.2%, url(/image/color.jpg));
    background-position: center;
    background-size: cover;
    background-attachment: fixed
}

.pass{
    position: relative;
}
.passInput{
    width: 285px;
}
.eye{
    position: absolute;
    bottom: 15px;
    right: 10px;
}


